.login h1 {
  font-size: 2.5rem;
  margin-top: 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(179, 229, 252, 0.2);
}

.github,
.facebook {
  cursor: pointer;
  font-family: "Karla", sans-serif;
  margin: 1rem 1rem 1rem 0;
  padding: 5px;
  color: white;
  font-weight: bold;
  border: 1px solid var(--primary-light);
  background: var(--primary-dark);
  transition: all 0.3s ease;
}
.github:hover {
  background: #000000;
  border: 1px solid var(--primary-light);
}
.facebook:hover {
  background: #3b5998;
  border: 1px solid var(--primary-light);
}
